.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  margin: 20px auto;
}

.card-characters {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
}

.card-characters:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-characters-container {
  padding: 8px 16px 0;
}