.footer {
  background-color: #02416b;
  color: white;
  }

.copyright {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #012842;
}

.copyright p {
  margin: 0;
  padding: 10px 0;
}

.copyright span {
  font-weight: bold;
}

@media screen and (max-width: 500px) {    
  .footer {
    display: flex;
    flex-direction: column;
    align-items: initial;
  }
}
